<div id="available-books" class="tab-content">
    <div class="books-tab-wrapper">
        <div class="section-header">
            <div class="section-title">
                <h2>Livros Disponíveis: <span id="available-count-badge" class="count-badge-inline"
                        title="Número de livros disponíveis">0</span></h2>
            </div>
            <div class="controls-right">
                <input type="text" id="search-books" class="section-search" placeholder="Pesquisar livros...">
            </div>
        </div>
        <div class="book-grid-header available-books-header">
            <span>Titulo</span>
            <span>Autor</span>
            <span>Categoria</span>
            <span>ISBN</span>
            <span>Status</span>
            <span>Ações</span>
        </div>
        <div id="book-grid" class="book-grid"></div>
    </div>
</div>
