<div id="borrowed-books" class="tab-content">
    <div class="books-tab-wrapper">
        <div class="section-header">
            <div class="section-title">
                <h2>Livros Emprestados: <span id="borrowed-count-badge" class="count-badge-inline"
                        title="Número de livros emprestados">0</span></h2>
            </div>
            <div class="controls-right">
                <input type="text" id="search-borrowed" class="section-search"
                    placeholder="Pesquisar livros emprestados...">
            </div>
        </div>
        <div class="book-grid-header borrowed-books-header">
            <span>Titulo</span>
            <span>Categoria</span>
            <span>ISBN</span>
            <span>Informações de Emprestimo</span>
            <span>Devolução</span>
        </div>
        <div id="borrowed-grid" class="book-grid"></div>
    </div>
</div>
